@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+New&display=swap');


.theme-dark {
    --back: #191726db;
    --text-channels: #d1caff;
    --code-background: #3f2746e3;
    --menu-item-default-hover-bg: #232136;
    --menu-item-default-active-bg: #393552;
    --button-secondary-background: #2a273f;
    --button-secondary-background-hover: #232136aa;
    --ping: #eb6f9255;
    --input-background: #39355297;
    --home-background: #23213693;
    --background-modifier-hover: #44415a55;
    --background-modifier-selected: #39355255;
    --background-modifier-active: #39355255;
    --bg-mod-faint: #2a273f55;
    --bg-surface-raised: #2a273f55;
    --background-message-highlight: #907aa93355;
    --background-message-highlight-hover: #907aa92255;
    --background-mentioned: #907aa93355;
    --background-mentioned-hover: #907aa92255;
    --info-warning-foreground: #907aa955;
    --bg-surface-overlay: #393552bd;
    --background-primary: #23213687;
    --background-secondary: #2a273f64;
    --background-secondary-alt: #39355255;
    --modal-background: #2a273f3f;
    --modal-footer-background: #39355255;
    --channeltextarea-background: #2a273f55;
    --deprecated-card-bg: #2a273f55;
    --deprecated-card-editable-bg: #2a273f55;
    --activity-card-background: #39355255;
    --background-tertiary: #45415b07;
    --background-accent: #ffffff00;
    --text-normal: #e0def4;
    --text-spotify: #e0def4;
    --text-muted: #6e6a86;
    --text-link: #3e90b0;
    --background-floating: #2a273f;
    --header-primary: #e0def455;
    --header-secondary: #e0def455;
    --header-spotify: #9ccfd855;
    --interactive-normal: #e0def455;
    --interactive-hover: #6e6a8655;
    --interactive-active: #e0def455;
    --scrollbar-thin-thumb: #39355255;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #39355255;
    --scrollbar-auto-track: transparent;
}

.theme-light {
    --back: #100e1f;
    --text-channels: #0a060f;
    --code-background: #e1d8f1;
    --menu-item-default-hover-bg: #fff;
    --menu-item-default-active-bg: #f2e9e1;
    --button-secondary-background: #fffaf3;
    --button-secondary-background-hover: #faf4ed;
    --ping: #b4637a;
    --input-background: #d3d0ce;
    --home-background: #faf4ed;
    --background-modifier-hover: #dfdad9;
    --background-modifier-selected: #f2e9e1;
    --background-modifier-active: #f2e9e1;
    --bg-mod-faint: #fffaf3;
    --bg-surface-raised: #fffaf3;
    --background-message-highlight: #c4a7e79c;
    --background-message-highlight-hover: #865ec6;
    --background-mentioned: #c4a7e733;
    --background-mentioned-hover: #c4a7e722;
    --info-warning-foreground: #c4a7e7;
    --bg-surface-overlay: #f2e9e1;
    --background-primary: #a391d2;
    --background-secondary: #9986dd;
    --background-secondary-alt: #bbb1c9;
    --modal-background: #ede5da;
    --modal-footer-background: #fff;
    --channeltextarea-background: #f3f1f6;
    --deprecated-card-bg: #fff;
    --deprecated-card-editable-bg: #fffaf3;
    --activity-card-background: #f2e9e1;
    --background-tertiary: #7661a7;
    --background-accent: #dbd3d3;
    --text-normal: #00317f;
    --text-spotify: #0000d9;
    --text-muted: #150232;
    --text-link: #0228ff;
    --background-floating: #fffaf3;
    --header-primary: #8980c5;
    --header-secondary: #5e02df;
    --header-spotify: #36aabe;
    --interactive-normal: #3c2965;
    --interactive-hover: #776b91;
    --interactive-active: #5b548e;
    --scrollbar-thin-thumb: #f2e9e1;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #f2e9e1;
    --scrollbar-auto-track: transparent;
}

body {
    font-family: "Noto Sans JP";
    background: rgba(0, 0, 0, 0);
    background: url("https://raw.githubusercontent.com/Nian0bussou/discord-theme/main/_10710cdadd80d8a4f6b42345da1239ec34133.jpg") center/cover no-repeat !important;
    background-size: cover !important;

}

.nameAndDecorators_d808b0,
.username_f9f2ca {
    font-size: 1.1em;
    font-family: "Klee One";
}

.appMount_ea7e65 {
    color: beige;
}

.title_b97bdb,
.name_d8bfb3 {
    color: var(--text-channels) !important;
}

code {
    background-color: var(--code-background) !important;
}

.nameAndDecorators_d808b0,
.username_f9f2ca {
    background-color: var(--back);
    border-radius: 15px;
    padding: 1px 6px;
    border: 3px solid var(--interactive-normal);

}

.username_f9f2ca {
    display: inline-flex;
}

.mainCard__0ec2c {
    background-color: var(--background-secondary) !important;
}

.body-2wLx-E,
.headerTop-3GPUSF,
.bodyInnerWrapper-2bQs1k,
.footer-3naVBw,
.panels-3wFtMD {
    background-color: var(--background-tertiary) !important;
}

.peopleColumn-1wMU14,
.panels-j1Uci_,
.peopleColumn-29fq28,
.peopleList-2VBrVI,
.content-2hZxGK,
.header-1zd7se,
.root-g14mjS .small-23Atuv .fullscreenOnMobile-ixj0e3 {
    background-color: var(--background-secondary) !important;
}

.textArea-12jD-V,
.lookBlank-3eh9lL,
.threadSidebar-1o3BTy,
.scrollableContainer-2NUZem,
.perksModalContentWrapper-3RHugb,
.theme-dark .footer-31IekZ,
.theme-light .footer-31IekZ {
    background-color: var(--background-tertiary) !important;
}

.numberBadge-2s8kKX,
.base-PmTxvP,
.baseShapeRound-1Mm1YW,
.bar-30k2ka,
.unreadMentionsBar-1Bu1dC,
.mention-1f5kbO,
.active-1SSsBb,
.disableButton-220a9y {
    background-color: var(--ping) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--ping) !important;
}

.header-3OsQeK,
.container-ZMc96U {
    box-shadow: none !important;
    border: none !important;
}

.content-1gYQeQ,
.layout-1qmrhw,
.inputDefault-3FGxgL,
.input-2g-os5,
.input-2z42oC,
.role-2TIOKu,
.searchBar-jGtisZ {
    border-radius: 6px !important;
}

.layout-1qmrhw:hover,
.content-1gYQeQ:hover,
.friendSelected_ebf869 {
    background-color: var(--background-modifier-selected) !important;
}

.panels_a4d4d9,
.container_b2ca13 {
    background-color: inherit !important;
}

.container_e5a42d {
    background: unset !important;
    border: unset !important;
}

.custom-profile-theme .colorPrimary_dd4f85 {
    color: var(--white) !important;
}

.lookFilled_dd4f85.colorPrimary_dd4f85 {
    color: var(--text-normal);
}

.colorDefault_d90b3d {
    color: var(--text-normal) !important;
}

.colorDefault_d90b3d.focused_d90b3d .subtext_d90b3d {
    color: var(--text-normal) !important;
}















/* Transparency section & background image        */
nav[class*="guilds-"] {
    background: transparent;
}
ul[data-list-id='guildsnav'] {
	background-color: rgba(0,0,0 , 0.6);
}
#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}
.platform-win [class^="sidebar-"] {
	border-radius: 0;
    background-color: transparent;
}
.container-2o3qEW {
    background: rgb(0,0,0 , 0.9);
}
div[data-list-id^="members-"][class*="scrollerBase-"] {
    background: transparent;
}

div[class^="members-"] div[class^="member-"] {
    background-color: transparent;
}
#app-mount {
    background-color: transparent;
}
#app-mount>div[class^="appDevToolsWrapper-"] {
	background-color: rgba(0,0,0 , 0.4);
}

div[class^="notAppAsidePanel-"]>div[class^="app-"]>div[class^="app-"],
div[class^="app-"]>div[class^="bg-"] {
    background-color: transparent;
}
div[class*="baseLayer-"]>div[class^="container-"] {
    background-color: rgb(0,0,0 , 0.4);
}

div[class^='chat'] {
    background: transparent;
}

div[data-list-id^="members-"],
div[data-list-id^="members-"]>div {
	background-color: transparent !important;
}
/* Transparency section & background image  (END) */
